:root {
  font-family: sans-serif;
  font-weight: 700;
}

.top-nav {
  border: 2px solid;
  display: flex;
  justify-content: space-between;
}

.top-nav-ul {
  display: flex;
  list-style: none;
  gap: 1rem;
  margin: 1rem;
  align-items: center;
}

.top-nav-ul a {
  text-decoration: none;
  color: #000;
}

footer > p {
  font-weight: 600;
}

.top-nav > p {
  margin-left: 1rem;
  font-weight: 600;
}

time {
  display: block;
  text-align: end;
}

.books-section {
  list-style: none;
  border: 2px solid;
  padding: 1px;
  max-width: 768px;
  max-height: 70vh;
  overflow-y: scroll;
  margin: 1em auto;
}

body {
  text-align: center;
}

.single-book {
  display: flex;
  justify-content: space-between;
  padding: 5px;
  align-items: center;
}

.single-book:nth-child(odd) {
  background-color: #d3d3d3;
}

.single-book p {
  font-weight: 600;
  font-size: 2vw;
}

.remove {
  border-width: 4px;
  font-weight: 600;
  font-size: 2vw;
  background-color: #fff;
  padding: 0.5rem 1rem;
}

.black-bar {
  display: block;
  width: 25%;
  height: 3px;
  background-color: #000;
}

.add-section {
  display: flex;
  flex-direction: column;
  align-items: center;
}

form {
  display: flex;
  flex-direction: column;
  width: 50%;
  max-width: 768px;
}

form input {
  border: 2px solid;
  padding: 5px;
  margin: 5px;
  font-weight: 600;
  font-size: 2vw;
}

form button {
  border: 2px solid;
  font-weight: 600;
  align-self: flex-end;
  font-size: 1.8vw;
  padding: 0.5rem 1rem;
}

input::placeholder {
  font-weight: normal;
}

h1,
h2 {
  font-family: sans-serif;
  font-weight: 600;
}

.vertical-bar {
  display: block;
  height: 1.2rem;
  width: 2px;
  background-color: #000;
}

.info-div {
  font-size: 2vw;
  width: 50%;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.info-div > h2 {
  align-self: center;
}

.contact-info-ul {
  text-align: start;
}

footer {
  border: 2px solid;
  text-align: start;
  position: absolute;
  padding-left: 1rem;
  bottom: 8px;
  left: 8px;
  right: 8px;
}

.content {
  display: none;
}

#booklist.active,
#contact.active {
  display: initial;
}

#addbook.active {
  display: flex;
}
